

div.ng-hide-remove,
div.ng-hide-add.ng-hide-add-active {
  position: absolute;
  top: inherit;
  -webkit-animation:0.5s fadeOut ease;
  animation:0.5s fadeOut ease;
  /*display: flex;*/
}

div.ng-hide-add,
div.ng-hide-remove.ng-hide-remove-active {
  position: relative;
  -webkit-animation:0.5s fadeIn ease;
  animation:0.5s fadeIn ease;
}
.ng-hide.ng-hide-animate{
  display: none !important;
}
/*bootsrap fix*/
.required > label:after {
  content:" *";
  color:red;
}

.form-group .help-block:before {
  content: "- ";
}

th {
  vertical-align: middle !important;
}

/*input.ng-valid:focus {*/

  /*border-color: lightgreen;*/
  /*outline: 0;*/
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
/*}*/

.has-error {
  color: #a94442;
}

/* FIX gentelella BUG */
.x_content span, .x_content label {
  margin-top: 0;
}
/*---Panel---*/
.panel-primary {
  border-color: #f39c12;
}
.panel-primary>.panel-heading {
  background-color: #f39c12;
  border-color: #f39c12;
}