- $company;
.container
    .row
        h1
            i.fa.fa-graduation-cap สร้างเรซูเม่
        p คุณสามารถเพิ่มการศึกษา บลาๆๆๆๆๆ
        div
            .panel.panel-default.panel-table
                .panel-heading
                    .row
                        .form-group.required
                            label(for='title') ชื่อเรซูเม่ :
                            input#title.form-control(type='text', name='title')

                        .form-group.required
                            label(for='company') บริษัทที่จะส่ง Resume ถึง :
                            select#company.form-control(name='company')
                                - foreach ($company as $comp) {
                                option(value='test')
                                    != $comp->name;
                                - }
                                option(value='ts2') number 2

                        .form-group.required
                            label(for='school') ชื่อสถาบันศึกษา :
                            input#school.form-control(type='text', name='school')
